* {
    margin: 0 auto;
    /* box-sizing: border-box; */
    background-color: black;
    color: seashell;
}


/* main {
    display: flex;
    flex-flow: row wrap;
} */


/* header {
        position: fixed;
    } */

.container {
    margin: 0;
    height: 69px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-shrink: 1;
}

.flex-child {
    /* padding-left: 0; */
}

.logo>img {
    width: 11.5rem;
    margin-left: 5px;
}

nav>ul {
    padding-bottom: 10px;
    display: inline-flex;
    text-decoration: underline;
    margin-right: 25px;
    font-size: 1.5rem;
}


/* ------------------------------ */

section {
    height: 700px;
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.mission {
    margin: 0 20px;
    min-width: 495px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    line-height: 2.5rem;
    padding: 15px 82px;
    flex-shrink: 3;
}

.mission>h2 {
    font-size: 35px;
    flex-shrink: 1;
}

.mission>h4 {
    font-size: 25px;
    flex-shrink: 3;
}

.mission>* {
    color: seashell;
    opacity: 0.9;
    flex-shrink: inherit;
}

#section1 {
    background-image: url("img/img-mission-background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
}


/* ------------------------------------ */

#section2 {
    margin: 0 auto;
    width: 1000px;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    align-content: space-around; */
    line-height: 2.5rem;
    font-size: 1.5rem;
}


/* .section2-span {
    width: 1000px; 
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-flow: column wrap; 
    line-height: 2.5rem;
    font-size: 1.5rem;
} */

.tea-list {
    /* margin: 5px 15px; */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: stretch;
    width: 300px;
    height: 270px;
    /* background-color: orange; */
}

.tea-list>img {
    width: 300px;
    height: 200px;
    margin-top: 10px;
}

.tea-list>h4 {
    font-size: 28px;
}


/* ----------------- */

#location-section {
    padding: 110px;
    width: 1200px;
    height: 600px;
    background-image: url('img/img-locations-background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
}